.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  padding: 16px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  border: solid 1px transparent;
  white-space: nowrap;
}
.Button.primary {
  background: var(--color-primary);
  color: white;
}
.Button.secondary {
  background: white;
  color: var(--color-primary);
}
.Button.ghost {
  font-weight: normal;
  background: transparent;
  color: var(--font-dark);
  border: none;
}
.Button:active {
  transform: translateY(1px);
}
